/* updated: 2024-11-26 */

:root {
    --BRS_CV_v: "4";
    --BRS_CV_d: "2024-09-25";
    --BRS_CHS_v: "4";
    --BRS_CHS_d: "2024-09-25";
    --BRS_D_v: "4";
    --BRS_D_d: "2024-09-25";
    --BRS_O_v: "4";
    --BRS_O_d: "2024-09-25";
    --BRS_E_v: "4";
    --BRS_E_d: "2024-09-25";
    --BRS_F_v: "4";
    --BRS_F_d: "2024-09-25";
    --BRS_X_v: "4";
    --BRS_X_d: "2024-09-25";
    --BRS_H_v: "4";
    --BRS_H_d: "2024-09-25";
    --BRS_I_v: "4";
    --BRS_I_d: "2024-09-25";
    --BRS_KO_v: "4";
    --BRS_KO_d: "2024-09-25";
    --BRS_P_v: "4";
    --BRS_P_d: "2024-09-25";
    --BRS_T_v: "4";
    --BRS_T_d: "2024-09-25";
    --BRS_U_v: "4";
    --BRS_U_d: "2024-09-25";
    --BRS_S_v: "4";
    --BRS_S_d: "2024-09-25";
    --BRS_Z_v: "4";
    --BRS_Z_d: "2024-09-25";
    --BRS_TG_v: "4";
    --BRS_TG_d: "2024-09-25";
    --BRS_K_v: "4";
    --BRS_K_d: "2024-09-25";
    --E-A_v: "1";
    --E-A_d: "2024-11-22";
}
