@import url("versions.css?ts=\200B");
:root {
    --BRS: "5.0";
    --BaM: "6.1";
    --Cnc: "5.1";
    --E-A: "2.1";
    --Fth: "3.0";
    --GPW: "5.1";
    --Jph: "2.0";
    --KJS: "5.2";
    --Str: "5.1";
    --TBH: "10.1";
    --VED: "5.1";
    --Vst: "1.0";
    --Tst: "1.1";
}
