:root {
    --BRS_CV_v: "5.0";
    --BRS_CV_d: "2024-12-21";
    --BRS_CHS_v: "5.0";
    --BRS_CHS_d: "2024-12-21";
    --BRS_D_v: "5.0";
    --BRS_D_d: "2024-12-21";
    --BRS_O_v: "5.0";
    --BRS_O_d: "2024-12-21";
    --BRS_E_v: "5.0";
    --BRS_E_d: "2024-12-21";
    --BRS_EW_v: "5.0";
    --BRS_EW_d: "2024-12-21";
    --BRS_F_v: "5.0";
    --BRS_F_d: "2024-12-21";
    --BRS_X_v: "5.0";
    --BRS_X_d: "2024-12-21";
    --BRS_H_v: "5.0";
    --BRS_H_d: "2024-12-21";
    --BRS_I_v: "5.0";
    --BRS_I_d: "2024-12-21";
    --BRS_KO_v: "5.0";
    --BRS_KO_d: "2024-12-21";
    --BRS_P_v: "5.0";
    --BRS_P_d: "2024-12-21";
    --BRS_T_v: "5.0";
    --BRS_T_d: "2024-12-21";
    --BRS_M_v: "5.0";
    --BRS_M_d: "2024-12-21";
    --BRS_U_v: "5.0";
    --BRS_U_d: "2024-12-21";
    --BRS_S_v: "5.0";
    --BRS_S_d: "2024-12-21";
    --BRS_Z_v: "5.0";
    --BRS_Z_d: "2024-12-21";
    --BRS_TG_v: "5.0";
    --BRS_TG_d: "2024-12-21";
    --BRS_K_v: "5.0";
    --BRS_K_d: "2024-12-21";
}
